@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: simplebold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: bolditalic;
  src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: extrabold;
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: extrabolditalic;
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: simpleitalic;
  src: url(./assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: simpleregular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: simpleregular;
  background-image: url('./assets/images/cal.jpg');
  backdrop-filter: blur(2px);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
